<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <title>Isa Semi-Jóias</title>
</head>
<body>
    <header>
        <img src="../static/img/logo.jpg" alt="Logo Isa Semi-Jóias" width="500" height="400">
    </header>
    <main>

        <h1>Principais semi-jóias!</h1>

        <div class="grade3xjoias">

            <img src="../static/img/joia1.webp" alt="Joia 1" width="400" height="400" class="joia">

            <img src="../static/img/joia2.webp" alt="Joia 2" width="400" height="400" class="joia">

            <img src="../static/img/joia3.jpeg" alt="Joia 3" width="400" height="400" class="joia">

        </div>


        <div class="grade3xtextos">

            <p>Colar de curvas banhado à ouro<br><br><strong>R$100,00</strong></p>

            <p>Colar de coração banhado à prata<br><br><strong>R$150,00</strong></p>

            <p>Colar de dragão banhado à prata<br><br><strong>R$125,00</strong></p>

        </div>

    </main>
    
</body>
</html>