<!DOCTYPE html>

<html lang="pt-br">

<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../static/css/semijoia.css">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

    <title>Isa Semi-Jóias</title>

</head>

<body>

    <header>
        <img src="../static/img/logo.jpg" alt="Logo Isa Semi-Jóias" width="400" height="300" id="logoHeader" onclick="window.location.href = '/index'">
    </header>

    <main>
        <div class="produto">
            <div class="imagem">
                <img src="../static/img/IMG_0094.JPG" alt="Joia 1" width="300" height="400" class="joia" id="joia1">
            </div>
            <div class="detalhes">
                <h2>Nome da Joia</h2>
                <p>Preço: R$ 99,99</p>
                <button type="button" id="comprar">Comprar</button>
            </div>
        </div>
    </main>

</body>

</html>