@font-face {
    font-family: 'Raleway'; /* Escolha um nome para sua fonte */
    src: url('../fonts/Raleway-VariableFont_wght.ttf') format('woff2') /* Substitua 'sua-fonte.woff2' pelo nome do seu arquivo de fonte */
}

body {
    margin: 0;
    font-family: 'Raleway', sans-serif; 

}

header{

    display: flex;
    
    justify-content: center;

}

footer{

    display: flex;

    text-align: center;

    justify-content: center;

    margin-top: 20px;

    height: 50px;

    width: 100%;

    background-color: #947A55;

    border-radius: 10px 10px 0px 0px;

    position: fixed;

    bottom: 0;

}

#logoHeader{

    cursor: pointer;
    
}
