@import url('global.css');

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}

.grade3xjoias,
.grade3xtextos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.joia {
    width: 300px;
    height: 400px;
    margin: 10px; 
    border-radius: 10px;
    cursor: pointer;
}

.grade3xtextos p {
    text-align: center;
    width: 300px; 
    margin: 10px;
    
    margin-bottom: 100px;
}


