@import url('global.css');

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.produto {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 100px;
}

.imagem img{
    border-radius: 10px;
}

.detalhes{
    padding: 30px;
    border: 4px solid black;
    border-radius: 10px;
    width: 232px;
    height: 332px;
    margin-left: 10px;
}

#comprar{

    background-color: transparent;

    font-size: 18px;

    font-family: 'Raleway', sans-serif; 

    padding: 10px;

    border: 4px solid black;

    border-radius: 10px;

}

#comprar:hover{

    background-color: black;

    color: white;

    cursor: pointer;
    
}